.banner-bg {
  padding: 260px 80px;
  position: relative;
  background: url("../img/1.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  z-index: 2;
}