.banner-bg {
  padding: 260px 80px;
  position: relative;
  background: url("../img/computer.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  z-index: 2;
}

.content-wrapper {
    background-color: #395451;
    background-image: none;
}

.modal-code {
    margin-top: 15px;
}

.modal-header h1 {
    font-family: "Merriweather", "Times New Roman", serif;
    font-size: 1.6em;
}

.modal-content h4 {
    font-family: "Roboto", Arial, sans-serif;
    font-size: 1.4em;
    margin: 10px 0;
}

input[type="number"],
input[type="text"],
select {
  height: 35px;
  padding: 6px 10px; /* The 6px vertically centers text on FF, ignored by Webkit */
  background-color: #fff;
  border: 1px solid #D1D1D1;
  border-radius: 4px;
  box-shadow: none;
  box-sizing: border-box; }
input[type="number"] {
    width: 70px;
}
/* Removes awkward default styles on some inputs for iOS */
input[type="number"],
input[type="text"] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none; }
input[type="number"]:focus,
input[type="text"]:focus {
  border: 1px solid #33C3F0;
  outline: 0; }
label,
legend {
  display: inline-block;
  margin-bottom: .5rem;
  font-weight: 600; }
fieldset {
  padding: 0;
  border-width: 0; }
label > .label-body {
  display: inline-block;
  margin-left: .5rem;
  font-weight: normal; }

.output p {
    margin: 5px 0;
}

.error {
    max-width: 250px;
}