.content-wrapper {
background-color:#05352F;
background-image:
radial-gradient(white, rgba(255,255,255,.2) 2px, transparent 40px),
radial-gradient(white, rgba(255,255,255,.15) 1px, transparent 30px),
radial-gradient(white, rgba(255,255,255,.1) 2px, transparent 40px),
radial-gradient(rgba(255,255,255,.4), rgba(255,255,255,.1) 2px, transparent 30px);
background-size: 550px 550px, 350px 350px, 250px 250px, 150px 150px; 
background-position: 0 0, 40px 60px, 130px 270px, 70px 100px;
}

/* SIDEBAR COLORS */
.sidebar-menu, .responsive-header {
    background-color: #6AA285;
}

.main-navigation li a.active, .toggle-menu, .toggle-menu a {
    background: #0B486B;
    color: #fff;
}

.main-navigation li a:hover, .main-navigation li a.active:hover {
    background: #3B8686;
    color: #fff;
}

/*PALLETTE: http://www.colourlovers.com/palette/580974/Adrift_in_Dreams */

/* FONTS */
a {
    color: darkblue;
}

a:hover, .resume-links li a:hover {
    color: #3B8686;
}

.welcome-text h2, h3.profile-title, .resume-section h5 {
    font-family: "Merriweather", "Times New Roman", serif;
}

.profile-description, .main-navigation li a, p {
    font-family: "Roboto", Arial, sans-serif;
}

h3.profile-title {
    margin-top: 10px;
    font-size: 1.7em;
}

h4.widget-title {
    font-size: 1.5em;
    color: #fff;
}

.profile-description, .main-navigation li a, p {
    font-size: 1.2em;
}

#footer p.copyright-text {
    color: #fff;
}

/* SOCIAL ICONS */
.social-icons {
    margin-left: 50px;
}

.social-icons a {
    padding: 0 5px;
}

.fa span {
    margin-left: -9999px;
}

/* RESUME */
.resume-section, .content-section {
    margin-bottom:20px;
    padding: 25px;
    background-color:#fff;
    color: #000;
}

.resume-section strong {
    font-weight: 500;
}

.resume-section h5 {
    font-size: 1.3em;
    color: #000;
    padding-bottom: 15px;
}

.resume-section p {
    padding: 0;
    font-size: 1.3em;
}

.resume-section ul {
    margin: 15px 20px;
    list-style: disc;
    font-size: 1.2em;
}

button.resume-link, input.resume-link {
    width: auto;
    border-radius: 0;
    border: none;
    color: #fff;
    background-color: #0B486B;
    padding: 5px;
    margin: 10px;
    display: inline-block;  
}

.resume-link:hover, input.resume-link:hover {
    background-color: #3B8686;
    color: #fff;
}

.resume-link a, input.resume-link {
    display: block;
    padding: 5px 10px;
    color: #fff;
    font-size: 1.2em;
}

.resume-link i.fa {
    padding-right: 15px;
}

/* PORTFOLIO */
.project-hover {
     font-family: font-family: "Roboto", Arial, sans-serif;
     font-size: 1.1em;
}

.project-hover h5 a, .inside i.fa {
    font-size: 1.2em;
    font-weight: 500;
    color: #3B8686;
}

.inside i.fa {
    padding: 10px 11px;
}

.inside a:hover i.fa, .project-hover h5 a:hover {
    color: #6AA285;
}

.col-md-6, .col-lg-6 {
    padding: 0;
}